@media (max-width: 1200px) {

    /* ------- observe section start */
    .observe_section_logos {
        width: 145px;
    }

    /* ------- observe section end */
}

@media (max-width: 1024px) {

    /* ------- observe section start */
    .observe_section_logos {
        width: 100px;
    }

    /* ------- observe section end */

    /* ------- service section start */
    .service_card_title {
        font-size: 30px;
    }

    /* ------- service section end */
}

@media (max-width: 768px) {

    /* --------- navbar section start -------- */
    .navbar-nav,
    .nav_end_btn {
        padding-left: 20px;
    }

    /* --------- navbar section end -------- */
    /* ---------hero section start -------- */
    #hero_section {
        margin-top: 30px;
    }

    /* ---------hero section start -------- */
    /* ------- observe section start */
    .observe_section_logos {
        width: 100px;
    }

    /* ------- observe section end */

    /* ------- service section start */
    .service_heading {
        font-size: 30px;
        line-height: 32px;
    }

    .service_desc {
        line-height: 20px;
        font-size: 13px;
        margin-bottom: 10px;
    }

    .common_btn_div {
        margin-top: 20px;
    }

    .service_left_side {
        margin-bottom: 50px;
    }

    .service_card_title {
        font-size: 19px;
        line-height: 25px;
    }

    .service_card_desc {
        font-size: 12px;
    }

    .service_card_img_div {
        margin-top: 55px;
    }

    /* ------- service section end */
}

@media (max-width: 600px) {
    .container {
        padding: 5px 10px;
    }

    /* ------------ navbar section start here ------------ */
    .navbar {
        border-bottom: 1px solid rgba(41, 41, 41, 0.082);
        /* padding: 10px; */
    }

    .nav-link {
        line-height: 20px;
    }

    .nav_end_btn {
        border-radius: 3px;
    }

    /* ------------ navbar section end here ------------ */

    /* ------------ hero section start here ------------ */
    #hero_section {
        margin-top: 30px;
    }

    .hero_header {
        margin-bottom: 40px;
    }

    .hero_heading {
        line-height: 40px;
    }

    .hero_portfolio_btn_1 {
        padding: 4px 30px;
    }

    .hero_portfolio_btn_2 {
        padding: 4px 18px 4px 28px;
    }

    .hero_img-1,
    .hero_img-3 {
        height: 40vh;
        object-fit: cover;
        border-radius: 15px;
    }

    /* ------------ hero section end here ------------ */

    /* ------- observe section start */
    #complete_project_section {
        padding: 50px 30px;
    }

    .observe_body {
        margin-top: 30px;
    }

    .orserve_urbanits_desc {
        font-size: 25px;
        line-height: 41px;
    }

    .observer_div {
        padding: 0 15px;
    }

    .observe_section_logos {
        width: 160px;
    }

    .observer_footer {
        margin-top: 60px;
        gap: 35px;
    }

    /* ------- observe section end */

    /* ------- service section start */
    #service_section {
        padding: 50px 0;
    }

    .service_left_side {
        margin-bottom: 50px;
    }

    .service_left_bottom {
        gap: 15px;
        margin-top: 25px;
        text-align: center;
    }

    .service_card_img_div {
        margin-top: 50px;
    }

    /* ------- service section end */

}