@media (max-width: 1200px) {

    /* ------- observe section start */
    .observe_section_logos {
        width: 145px;
    }

    /* ------- observe section end */
}

@media (max-width: 1024px) {

    /* ------- observe section start */
    .observe_section_logos {
        width: 100px;
    }

    /* ------- observe section end */
}

@media (max-width: 768px) {

    /* --------- navbar section start -------- */
    .navbar-nav,
    .nav_end_btn {
        padding-left: 20px;
    }

    /* --------- navbar section end -------- */
    /* ---------hero section start -------- */
    #hero_section {
        margin-top: 30px;
    }

    /* ---------hero section start -------- */
    /* ------- observe section start */
    .observe_section_logos {
        width: 100px;
    }

    /* ------- observe section end */
}

@media (max-width: 600px) {
    .container {
        padding: 5px 10px;
    }

    /* ------------ navbar section start here ------------ */
    .navbar {
        border-bottom: 1px solid rgba(41, 41, 41, 0.082);
        /* padding: 10px; */
    }

    .nav-link {
        line-height: 20px;
    }

    .nav_end_btn {
        border-radius: 3px;
    }

    /* ------------ navbar section end here ------------ */

    /* ------------ hero section start here ------------ */
    #hero_section {
        margin-top: 30px;
    }

    .hero_header {
        margin-bottom: 40px;
    }

    .hero_heading {
        line-height: 40px;
    }

    .hero_portfolio_btn_1 {
        padding: 4px 30px;
    }

    .hero_portfolio_btn_2 {
        padding: 4px 18px 4px 28px;
    }

    .hero_img-1,
    .hero_img-3 {
        height: 40vh;
        object-fit: cover;
        border-radius: 15px;
    }

    /* ------------ hero section end here ------------ */

    /* ------- observe section start */
    #complete_project_section {
        padding: 50px 30px;
    }

    .observe_body {
        margin-top: 30px;
    }

    .orserve_urbanits_desc {
        font-size: 25px;
        line-height: 41px;
    }

    .observer_div {
        padding: 0 15px;
    }

    .observe_section_logos {
        width: 160px;
    }

    .observer_footer {
        margin-top: 60px;
        gap: 35px;
    }

    /* ------- observe section end */
}