@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --desc-color: #4C4C4C;
    --section-bg: #0C0A25;
    --btn-bg: #41FF9E;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.desc_color {
    color: var(--desc-color);
}

.container {
    max-width: 1080px;
    width: 100%;
    padding: 0px 10px;
}

.font_inter {
    font-family: "Inter", serif;
}

.font_roboto {
    font-family: "Roboto", serif;
}

.font_poppins {
    font-family: "Poppins", serif;
}

.font_urbanist {
    font-family: "Urbanist", serif;
}

.text_xs {
    font-size: 12px;
}

.text_sm {
    font-size: 14px;
}

.text_lg {
    font-size: 18px;
}

.text_xl {
    font-size: 20px;
}

.text_2xl {
    font-size: 24px;
}

.text_40 {
    font-size: 40px;
}

.text_48 {
    font-size: 48px;
}

.b_radius_50 {
    border-radius: 50px;
}

.mb_20 {
    margin-bottom: 20px;
}

.gap_20 {
    gap: 20px;
}

.gap_30 {
    gap: 30px;
}

.lh_25 {
    line-height: 25px;
}

.lh_56 {
    line-height: 56px;
}

.common_btn_div {
    margin-top: 39px;
}

.common_btn {
    background-color: var(--btn-bg);
    color: var(--section-bg);
    padding: 11px 27.5px;
}

.mt_32 {
    margin-top: 32px;
}

.mt_64 {
    margin-top: 64px;
}

/* common style end */
/* #top_section {} */

/* ----------- nav section start -------------- */
.navbar {
    padding: 24px 0;
    background: transparent;
    z-index: 600;
}

/* Menu Icon (Hidden by Default on Large Screens) */
.menu_icon {
    display: none;
}

.menu_icon .hamburger_icon,
.circle_icon {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

/* Navigation List (Visible by Default for Large Screens) */
.nav_list {
    position: relative;
    display: flex;
    gap: 30px;
    text-align: center;
    background: transparent;
    margin-bottom: 0;
    padding: 0;
    top: auto;
    /* Keep visible on large screens */
}

/* ----------- nav section start -------------- */


/* ----------- hero section start -------------- */
#hero_section {
    padding-top: 156px;
    height: auto;
    background-image: url('../images/Rectangle_220.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 68px;
}

.hero_header {
    margin-bottom: 72px;
}

.hero_header_top {
    max-width: 367px;
    background-color: #92F4AE;
}

.hero_portfolio_btn_1 {
    padding: 16px 35px;
}

.hero_portfolio_btn_2 {
    padding: 14px 18px 14px 28px;
}

/* .hero_img_container {
    border: 2px solid #E4F0FF;
    border-left: none;
    border-right: none;
} */
.hero_hr {
    height: 1px;
    width: 100%;
    background: #000;
    background: linear-gradient(to left, #DDECFF, #E4F0FF, #FFFFFF);
}

.hero_hr_b {
    bottom: 0;
}

.hero_vertical_line_1 {
    width: 1px;
    background: black;
    top: -600px;
    background: linear-gradient(to top, #DDECFF, #E4F0FF, #FFFFFF);
    z-index: 1;
}

.hero_vertical_line_2 {
    right: 0%;
}

/* ----------- hero section end -------------- */

/* ----------- complete project section start -------------- */
#complete_project_section {
    padding: 128px 30px;
}

.observer_div {
    padding: 0 60px;
}

.observer_info {
    line-height: 65px;
}

.observer_info_span {
    color: #00C663;
}

.observer_title {
    color: #595959;
}

.observe_body {
    margin-top: 112px;
}

.orserve_urbanits_desc {
    color: #737373;
    font-weight: 300;
    font-style: italic;
    line-height: 54px;
    margin-bottom: 38px;
}

.orserve_urbanits_desc_span {
    font-style: italic;
}

.observe_ceo_info {
    color: #181732;
    font-weight: 300;
}

.observer_footer {
    margin-top: 156px;
    gap: 52px;
}

.bg_properties {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ----------- complete project section end -------------- */

/* ----------- service section start -------------- */
#service_section {
    padding: 121px 0 88px;
    background-color: var(--section-bg);
}

.service_left_side {
    padding: 0;
}

.service_heading {
    margin-bottom: 13px;
}

.service_desc {
    line-height: 22px;
}

.service_left_bottom {
    gap: 10px;
}

.white_starts {
    width: 22.5px;
    height: 22.5px;
}

.service_card {
    background-color: #C5E7FF;
    padding: 32px 24px 0;
    border-radius: 20px;
}

.service_card_2 {
    background-color: #D3FEE8;
}

.service_card_title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 22px;
}

.service_card_desc {
    color: #606060;
}

.service_card_img_div {
    margin-top: 110px;
}

.service_vertical_line {
    width: 1px;
    top: -121px;
    background: linear-gradient(to top, rgba(221, 236, 255, 0.171), rgba(255, 255, 255, 0.123));
    z-index: 1;
}

.service_vertical_line_2 {
    right: 0;
}

#service_section .hero_hr {
    width: 98%;
    background: linear-gradient(to top, rgba(221, 236, 255, 0.171), rgba(255, 255, 255, 0.123));
}

/* ----------- service section end -------------- */


/* ----------- case study section start -------------- */
#case_study_section {
    height: auto;
    background-image: url('../images/case_study_bg.jpg');
    padding: 120px 0;
}

.case_study_body {
    gap: 64px;
}

.case_card_info {
    font-weight: 300;
    background-color: #C7FFD0;
    padding: 3.5px 32px;
    margin-bottom: 14px;
}

.case_card_container {
    gap: 80px;
}

.case_hr_line {
    height: 1px;
    left: -418px;
    background: red;
    background: linear-gradient(to right, #DDECFF, #FFFFFF);
}

.case_hr_line_2 {
    left: 0;
    background: linear-gradient(to left, #DDECFF, #FFFFFF);
}

.case_vertical_line {
    width: 1px;
    top: -35px;
    /* z-index: -1; */
    background: linear-gradient(to top, #DDECFF, #FFFFFF);
}

.case_vertical_line_2 {
    right: 0;
}

/* ----------- case study section end -------------- */

/* ----------- marquee section start -------------- */
#marquee_section {
    padding: 24px 0;
    background-color: var(--section-bg);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marquee {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.marquee_inner {
    display: flex;
    width: max-content;
}

.marquee_list {
    gap: 47px;
    margin: 0;
    animation: marqueeScroll 25s linear infinite;
}

.marquee_list_item {
    display: flex;
    gap: 47px;
}

.marquee_list_item::before {
    content: url('../images/green_spot.svg');
    margin-right: 10px;
}

/* Keyframes for Infinite Scrolling */
@keyframes marqueeScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* ----------- marquee section end -------------- */

/* ----------- testimonial section start -------------- */
#testimonial_section {
    padding: 120px 0;
}

.testimonial_card {
    border: 1px solid #B7B7B7;
    border-radius: 16px;
    background-image: url('../images/testimonial_bg.jpg');
}

.testimonial_card_desc {
    color: #5C5C5C;
}

.testimonial_body {
    color: #5E5E5E;
}

.swiper_pagination {
    position: none;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    margin-top: 32px;
}

.swiper-pagination-bullet {
    background-color: gray;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: black !important;
    opacity: 1;
}

/* ----------- testimonial section end -------------- */

/* ----------- accelerate section start -------------- */
#accelerate_section {
    background-image: url('../images/accelerate_bg.jpg');
    padding: 70px 0;
}

.accelerate_container {
    background-color: #02033B;
    border-radius: 32px;
    padding: 65px;
    gap: 75px;
}

.accelerate_desc {
    color: #B0B0B0;
}

.accelerate_left {
    width: 65%;
}

.accelerate_right {
    width: 35%;
}

.accelerate_img {
    max-width: 316px;
    max-height: 370px;
    width: 100%;
    height: 100%;
}

.accelerate_hr_line {
    height: 1px;
    background: linear-gradient(to right, rgba(221, 236, 255, 0.4), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.01));
    left: -698px;
}

.accelerate_hr_line_2 {
    left: -697px;
    background: linear-gradient(to left, rgba(221, 236, 255, 0.4), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.01));
}

.accelerate_v_line {
    width: 1px;
    top: -65px;
    background: linear-gradient(to top, rgba(221, 236, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(221, 236, 255, 0.3));
}

.accelerate_v_line_2 {
    right: 0;
}

/* ----------- accelerate section end -------------- */

/* ----------- footer section start -------------- */
#footer_section {
    background: var(--section-bg);
}

/* .footer_section{
    justify-content: center;
    align-items: center;
} */
.footer_container {
    gap: 20px;
}

.footer_left_top {
    padding: 106px 0 48px;
}

.footer_start_text {
    color: #F1E7DE;
}

.footer_header {
    margin-bottom: 42px;
}

.footer_heading_span {
    color: #8E9BA3;
}

.footer_body {
    gap: 75px;
}

.footer_address,
.footer_list_item {
    color: #BCBCBC;
}

.footer_right {
    right: 0;
    padding: 61px 0;
}

.webermelon_logo {
    opacity: .08;
    left: 25px;
}

.footer_img_div {
    gap: -1px;
}

.footer_imgs {
    margin-left: -2px;
}

.footer_imgs_1,
.footer_imgs_3 {
    opacity: .08;
}

.footer_imgs_2,
.footer_imgs_4 {
    margin-top: 5px;
    opacity: .1;
}

.footer_imgs_4 {
    margin-top: .5px;
    margin-left: 0px;
}

.footer_hr_line {
    height: 1px;
    left: -785px;
    background: linear-gradient(to bottom, rgba(221, 236, 255, .12), rgba(255, 255, 255, .12));
}

.footer_hr_line_2 {
    bottom: 0;
}

.footer_v_line {
    width: 1px;
    top: -60px;
    background: linear-gradient(to left, #FFFFFF00, #90A3BC80);
}

.footer_v_line_2 {
    top: -60px;
    right: 0;

}

/* ----------- footer section end -------------- */