@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --desc-color: #4C4C4C;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    box-sizing: border-box;
}

.desc_color {
    color: var(--desc-color);
}

.container {
    max-width: 1080px;
    width: 100%;
    padding: 0px 10px;
}

.font_inter {
    font-family: "Inter", serif;
}

.font_roboto {
    font-family: "Roboto", serif;
}

.font_poppins {
    font-family: "Poppins", serif;
}

.font_urbanist {
    font-family: "Urbanist", serif;
}

.text_sm {
    font-size: 14px;
}

.text_lg {
    font-size: 18px;
}

.text_xl {
    font-size: 20px;
}

.text_40 {
    font-size: 40px;
}

.text_48 {
    font-size: 48px;
}

.b_radius_50 {
    border-radius: 50px;
}

.mb_20 {
    margin-bottom: 20px;
}

.gap_20 {
    gap: 20px;
}

.gap_30 {
    gap: 30px;
}

/* common style end */
#top_section {
    height: auto;
    background-image: url('../images/Rectangle_220.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 68px;
}

/* ----------- nav section start -------------- */
.navbar {
    padding: 20px 2px;
}

.nav-link {
    color: #101010;
    line-height: 25px;
    transition: all .3s ease-in-out;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav_end_btn {
    border: none;
}

/* ----------- nav section start -------------- */


/* ----------- hero section start -------------- */
#hero_section {
    margin-top: 68px;
}

.hero_header {
    margin-bottom: 72px;
}

.hero_header_top {
    max-width: 367px;
    background-color: #92F4AE;
}

.hero_heading {
    line-height: 56px;
}

.hero_portfolio_btn_1 {
    padding: 16px 25px;
}

.hero_portfolio_btn_2 {
    padding: 14px 18px 14px 28px;
}

/* .hero_img_container {
    border: 2px solid #E4F0FF;
    border-left: none;
    border-right: none;
} */
.hero_hr {
    height: 1px;
    width: 100%;
    background: #000;
    background: linear-gradient(to left, #DDECFF, #E4F0FF, #FFFFFF);
}

.hero_hr_b {
    bottom: 0;
}

.hero_vertical_line_1 {
    width: 1px;
    background: black;
    top: -600px;
    background: linear-gradient(to top, #DDECFF, #E4F0FF, #FFFFFF);
    z-index: 1;
}

.hero_vertical_line_2 {
    right: 0%;
}

/* ----------- hero section end -------------- */